In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv(r"D:\Codebase\Python\Data Cleaning\Data Clening Concepts\loan_data.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,NaN,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,NaN,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y

In [3]:
dataset['CoapplicantIncome'].fillna(dataset['CoapplicantIncome'].mean(), inplace=True)

C:\Users\vadik\AppData\Local\Temp\ipykernel_17812\2117298730.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['CoapplicantIncome'].fillna(dataset['CoapplicantIncome'].mean(), inplace=True)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             361 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         380 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [5]:
dataset["Dependents"].unique()

array(['1', '0', '2', '3+', nan], dtype=object)

In [6]:
dataset.isnull().sum()

Loan_ID               0
Gender               20
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            1
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
dataset["Dependents"].value_counts()

Dependents
0     234
2      59
1      52
3+     28
Name: count, dtype: int64

In [8]:
dataset["Dependents"].fillna(dataset["Dependents"].mode()[0], inplace=True)

In [9]:
dataset["Dependents"].replace("3+", "3", inplace=True)

In [10]:
dataset["Dependents"].value_counts()

Dependents
0    242
2     59
1     52
3     28
Name: count, dtype: int64

In [11]:
dataset["Dependents"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 381 entries, 0 to 380
Series name: Dependents
Non-Null Count  Dtype
--------------  -----
381 non-null    object
dtypes: object(1)
memory usage: 3.1+ KB

In [12]:
dataset["Dependents"] = dataset["Dependents"].astype("int64")

In [13]:
dataset["Dependents"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 381 entries, 0 to 380
Series name: Dependents
Non-Null Count  Dtype
--------------  -----
381 non-null    int64
dtypes: int64(1)
memory usage: 3.1 KB